/*CSS for top nav*/
.top-nav{
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
}

.top-nav-ul{
    display: flex;
}

/*Control for the first child*/
.top-nav-ul li {
    margin-left: 6px;
    padding-top: 12px;
    padding-bottom: 12px;

    border: 1px solid white;
    border-radius: 12px;
}

/*Control for very last child, login button*/
.top-nav-ul li:last-child{
    margin-left: auto;
}

.top-nav-ul li a{
    color: white;
    text-decoration: none;
    padding: 12px;
}
/*END CSS FOR TOP NAV*/